{% extends "base.html" %} {% block title %}Login{% endblock %} {% block
content_head %} {% endblock %} {% block content_body %}
<div class="container my-5">
  <div class="row">
    <div class="col-10 mx-auto">
      <div class="card">
        <div class="card-header text-center">
          <h1>Login</h1>
        </div>
        <div class="card-body my-5 px-5">
          <form
            method="POST"
            action="/login"
            class="needs-validation"
            novalidate
          >
            <div class="container">
              <div class="row mb-3">
                <label for="username" class="form-label">Username</label>
                <input
                  type="text"
                  class="form-control"
                  id="username"
                  name="username"
                  required
                />
                <div class="invalid-feedback">Required</div>
              </div>
              <div class="row mb-3">
                <label for="passwd" class="form-label">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="passwd"
                  name="passwd"
                  required
                />
                <div class="invalid-feedback">Required</div>
              </div>
              <div class="row text-center justify-content-center mt-5">
                <div class="col">
                  <button
                    type="submit"
                    class="btn text-white"
                    style="background-color: #f11716; font-size: 1.25rem;"
                  >
                  Submit
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block script %}
<script>
  (function () {
    "use strict";

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll(".needs-validation");

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms).forEach(function (form) {
      form.addEventListener(
        "submit",
        function (event) {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add("was-validated");
        },
        false
      );
    });
  })();
</script>
{% endblock %}
